/* Estilos para el texto */
.hola-mundo {
    font-size: 24px;
    color: green;
    text-align: center;
    margin-top: 50px;
}

/* Estilos para el contenedor */
.contenedor {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}